.movieCard {
  background-color: #222831;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 2%;
  width: 30%;
  margin-left: 70px;
}

.movieTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.addMovieBtn {
  cursor: pointer;
  font-size: 50px;
  margin: 75% 0;
}
.movie {
  height: 300px;
  width: 300px;
  border: 5px solid #272133;

  margin-left: 100px;
  box-shadow: 0 10px 50px red;
}
